/*mobile-first, RWD principles: base styles suitable for mobile-device under 320px-wide*/

body {
  width: 100%;
  color: green;
}

.template {
  display: none;
}





/*media queries: using mobile-first RWD principles, adjusting style as viewport increases*/

@media only screen and (min-width: 320px) {



}

@media only screen and (min-width: 640px) {



}
