/*mobile-first, RWD principles: base styles suitable for mobile-device under 320px-wide*/

body {
  width: 100%;
  font-family: sans-serif;
  line-height: 1.2em;
  background-color: lightgrey;
}

header {
  background-color: black;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}


header section {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

header nav {
  margin: 0 10px 0 10px;
}

main section {
  padding-top: 20px;
  padding-left: 10px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: lightgreen;
  line-height: 1.1em;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-weight: bold;
  color: green;
  padding-top: 10px;
}

h5  {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin-bottom: 5px;
}

em {
  font-weight: bold;
}

.template {
  display: none;
}

.nav {
  background-color: green;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.nav:hover {
  background-color: grey;
}

.nav:active {
  background-color: black;
}

#navigation li {
  display: inline-block;
  padding: 5px;
}


/*media queries: using mobile-first RWD principles, adjusting style as viewport increases*/

@media only screen and (min-width: 320px) {



}

@media only screen and (min-width: 640px) {

  header div {
    width: 70%;
    margin: 0 auto;
  }

  main {
    width: 70%;
    margin: 0 auto;
  }

}
